.FooterLinks {
    color:dimgrey;
    text-decoration: none !important;
}
    .FooterLink:hover {
        color: black;
    }

    .WelcomeText{
        color:dimgrey;
        text-decoration: none !important;
    }

